body {
  background-color: #e1f5fd;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 50px;
  animation: fade-in 1s ease-out;
}

h1, h2 {
  font-family: 'Fredoka One', cursive;
}

.token-input {
  width: 50%;
  margin-bottom: 10px;
}

.search-bar {
  width: 50%;
  animation: fade-in 1s ease-out;
}

.input-group {
  height: 50px; /* Ubah angka sesuai keinginanmu */
  border-radius: 20px; /* Atur nilai border-radius sesuai keinginanmu */
  overflow: hidden; /* Menghindari konten keluar dari batas elemen dengan sudut melengkung */
}

.form-control {
  height: 50px;
  width: 400px;
  background-color: #fff;
  border: none;
  border-radius: 20px;
  position: relative;
  font-size: 20px;
  text-align: center;
}

.form-control::placeholder {
  text-align: center;
}

.btn{
  align-items: center;
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 20px;
  background-color: #039DDD;
  border: none
}

.btn:hover {
  background-color: #52c3f0;
}

.card {
width: 50%;
  border: none;
  border-radius: 20px;
  animation: fade-in 1s ease-out;
}

.background-shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: fade-in 1s ease-out;
  background-color: #e1f5fd;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  z-index: -1;
  /* background-image: linear-gradient(to bottom, #039DDD, #52c3f0); */
  /* z-index: -1; */
  /* clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 50% 100%, 0% 70%); */
}

.bottom-shape {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background-color: #039DDD;
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 50px)); */
  /* clip-path: ellipse(50% 100% at 50% 0%); */
  /* clip-path: path('M0,100 C30,20 50,0 100,100'); */
  clip-path: polygon(0 0, 100% 0, 100% 90%, 90% 100%, 80% 90%, 70% 100%, 60% 90%, 50% 100%, 40% 90%, 30% 100%, 20% 90%, 10% 100%, 0 90%);
  transform: scaleY(-1);
}

.shape-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cloud {
  width: 200px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 50%;
  position: relative;
  animation: cloudAnimation 10s linear infinite;
}

.cloud::before,
.cloud::after {
  content: '';
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
}

.cloud::before {
  width: 80px;
  height: 80px;
  top: -40px;
  left: 20px;
}

.cloud::after {
  width: 120px;
  height: 120px;
  top: -70px;
  right: 20px;
}

.cloud:nth-child(1) {
  top: 100px;
  left: 10%;
}

.cloud:nth-child(2) {
  top: -20px;
  left: 30%;
}

.cloud:nth-child(3) {
  top: -200px;
  left: 50%;
}

.cloud:nth-child(4) {
  top: -180px;
  left: 70%;
}

.cloud:nth-child(5) {
  top: -150px;
  left: 70%;
}

@media (max-width: 576px) {
  .token-input,
  .search-bar {
      width: 100%;
  }
  h1{
      font-size: 32px;
      text-align: center;
  }
  h5{
    font-size: 16px;
    text-align: center;
  }
  .form-control{
    font-size: 16px;
  }
  .form-control::placeholder{
    font-size: 16px;
  }
  .card{
    width: 100%;
  }
  .cloud {
    top: 50%;
    transform: translateY(-50%);
  }
  
  .cloud:nth-child(1) {
    left: 70px;
  }
  
  .cloud:nth-child(2) {
    left: -50px;
  }
  
  .cloud:nth-child(3) {
    left: -200px;
  }
  
  .cloud:nth-child(4) {
    left: -300px;
  }
  
  .body-shape {
    width: 150px; /* Ukuran lingkaran pada tampilan layar kecil */
    height: 150px;
  }
  .bottom-shape {
    height: 80px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 20px));
  }
  .background-shape {
    /* Properti shape untuk resolusi di bawah 576px */
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }
  img {
    width: 150px;
  }
}

@keyframes fade-in {
  0% {
      opacity: 0;
      transform: translateY(-20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes cloudAnimation {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  10% {
    opacity: 1;
  }
  90% {
    transform: translateX(100%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}